* {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

body {
    font-family: 'Segoe UI', sans-serif;
    background-color: #f8f9fc;
}

.app {
    display:flex;
    height: 100vh;
}

.sidebar {
    width: 220px;
    background-color:#4e73df;
    color: white;
    padding: 20px;
}

.sidebar  h2 {
    margin-bottom: 20px;
}

.sidebar ul {
    list-style: none;
}

.sidebar li {
    margin-bottom: 15px;
    cursor: pointer;
}

.dashboard {
    flex: 1;
    padding: 20px;
}

.cards {
    display: flex;
    gap: 20px;
    margin-top: 20px;
    flex-wrap: wrap;
}

.card {
    background-color: white;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba( 0, 0, 0, 0.1);
    flex: 1;
    transition: transform 0.2s ease;
    min-width: 180px;
    text-align: left;
}

.card:hover {
    transform: translateY(-4px);
}

.card h3 {
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: 600;
}

.card p {
    font-size: 24px;
    font-weight: bold;
}

.charts {
    margin-top: 40px;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.charts > div {
    flex:1;
    min-width: 300px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding:20px;
    box-shadow: 0 2px 4px rgba( 0, 0, 0, 0.1);
    border-bottom: 1px solid #ddd;
}

.header-left h1 {
    font-size: 20px;
    color:#333;
}

.search-input {
    padding: 8px 12px;
    border-radius: 8px;
    border:1px solid #ccc;
    font-size: 14px;
    width: 200px;
}

.search-input:focus {
    outline:none;
    border-color: #4e73df;
}

.stat-card {
    flex: 1;
    padding: 20px;
    border-radius: 12px;
    color: white; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    min-width: 200px;
    transition: transform 0.2s ease;
}

.stat-card:hover {
    transform: translateY(-4);
}

.stat-card-header {
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 10px;
}

.stat-card-value {
    font-size: 24px;
    font-weight: bold;
}

.orders-table{
    margin-top: 40px;
    background: #fff;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 2px 4px rgba( 0, 0, 0, 0.1);
    width: 100%;
}

.orders-table h3 {
    margin-bottom: 15px;
    font-size: 18px;
    color: #333
}

table {
    width: 100%;
    border-collapse: collapse;
    font-size: 14px;
}

th, td {
    text-align: left;
    padding: 12px;
    border-bottom: 1px solid #ddd;
}

.estado {
    font-weight: bold;
    padding: 6px 10px;
    border-radius: 6px;
    display: inline-block;
}

.estado.pendiente {
    background-color: #f6c23e;
    color:#fff
}

.estado.completado {
    background-color: #1cc88a;
    color:#fff;
}

.estado.cancelado {
    background-color: #e74a3b;
    color: #fff;
}